---
import Icon from './Icon.astro';
---

<a id="whats2" class="btn-flotante" href="https://api.whatsapp.com/send?phone=+34613116385">
    <Icon icon="whatsapp" color="var(--accent-regular)" size="3rem" gradient />
</a>
<style>
    .btn-flotante {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 99;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    background-color: aliceblue;
    }
</style>